<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>

<h1>Listing pictures</h1>


<% @pictures.each do |picture| %>
    <div class="pic" style="float:left">
        <%= link_to(image_tag(picture.picture.url(:thumb)), picture) %>
        <br/>
        <!-- <%= link_to 'Show', picture %> -->
        <%= link_to 'Edit', edit_picture_path(picture) %>
        <%= link_to 'Destroy', picture, confirm: 'Are you sure?', method: :delete %>
    </div>
<% end %>

<div style="clear:both">
    <br />

    <%= link_to 'New Picture', new_picture_path %>
</div>